.ez-fragment-tooltip {
  height: 100%;
  width: 100%;
}

.ez-tooltip {
  position: fixed;
  display: flex;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.85);
  pointer-events: none;
  padding: 1rem;
  white-space: nowrap;
  color: #FFF;
  border-radius: .25rem;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.25);
  font-size: 1.125rem;
}

.ez-tooltip-color {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border: 1px solid #FFF;
  margin: .25rem;
}

.ez-tooltip-text {
  margin: 0 0 0 .5rem;
}

.ez-tooltip-attribute {
  margin: 0 .25rem;
  display: table-row;
}

.ez-tooltip-attribute--name,
.ez-tooltip-attribute--value {
  display: table-cell;
  padding: .125rem;
}

.ez-tooltip-attribute--name {
  // font-weight: 700;
  text-align: right;
}


.ez-tooltip-attribute--value {
  font-weight: 700;
}